/Modul_5/nbproject/private/
/Modul_5/build/
/Modul_6/nbproject/private/
/Test/nbproject/private/
/Test/build/
/Modul_7/nbproject/private/
/Modul_7/build/
/test_modul_9/nbproject/private/
/test_modul_9/build/
/Modul_9/nbproject/private/
/Modul_9/build/
/Test_Modul_10/nbproject/private/
/Test_Modul_10_Student/nbproject/private/
/Studen_Modul_10/nbproject/private/
/Test_Modul_10_Student/build/
/Studen_Modul_10/build/
/Modul_13/nbproject/private/
/Modul_05/nbproject/private/
/Modul_06/nbproject/private/
/Modul_13/build/
/WorldTest/nbproject/private/
/WorldTest/build/